:root {
    --primary-color: #d88e00;
}

body {
    height: 100vh;
}

.body-content {
    height: 100%;
}

.dl-horizontal dt {
    white-space: normal;
}

span.field-validation-error, label.error {
    color: red;
}

.input-validation-error, input.error {
    border: 1px solid red;
}

.navbar-inverse {
    background-color: white;
    border: none;
}

    .navbar-inverse .navbar-nav > li > a {
        color: var(--primary-color);
        font-size: 20px;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: #f19e00;
        }

.container-fluid.body-content, .navbar > .container-fluid {
    margin: 0 15% 0 15%;
}

a.navbar-brand {
    padding-left: 0px;
}

.logo, .logo > img {
    width: 50px;
}

.navbar-header {
    padding-top: 3px;
}

.navbar-toggle {
    background-color: var(--primary-color);
    border: none;
}

.main-contain {
    padding: 60px 0 0 0;
}

h2.title {
    text-align: center;
    margin: 40px 0px;
    color: var(--primary-color);
}

.btn.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    margin: 20px 0 20px 0;
}

.btn-default {
    margin-top: 20px;
}

input.btn.btn-default {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.form-card {
    margin-bottom: 15px;
    max-width: 400px;
    margin: auto;
}

span.twitter-typeahead {
    width: 100%;
}

input, select, textarea {
    max-width: none;
}
/*Table Style*/

table#customers, .table-bordered {
    border: none;
}

table td, table th {
    border-left: none !important;
}

.table-bordered > td, .table-bordered > tbody > tr > td,
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-right: 0px;
}

thead {
    background-color: var(--primary-color);
    color: white;
}

table.dataTable thead .sorting:after {
    opacity: 1;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/** End Table Style*/

.book-card {
    max-width: 400px;
    margin: auto;
}

.alert.alert-warning.book-card {
    margin-top: 40px;
}

.book-card .title {
    text-align: left;
    margin-top: 0px;
}

.books-container {
    margin-right: 0px;
    margin-left: 0px;
}

span.glyphicon.glyphicon-trash {
    float: right;
}

span.glyphicon.glyphicon-trash:hover {
    cursor: pointer;
}

/*Media Queries*/
@media only screen and (max-width: 767px) {
    .navbar-collapse.in, .navbar-inverse .navbar-nav > li > a {
        background-color: #fff6e4;
    }

    .navbar-nav {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    div#customers_length, div#customers_filter {
        text-align: left;
    }

    .hero-text > h3, h1 {
        color: #ffb100 !important;
    }

    .navbar-toggle {
        background-color: #ef9c00 !important;
    }

    .table-book tr th:nth-child(3), .table-book tr td:nth-child(3) {
        display: none;
    }

    .table-customer tr th:nth-child(2), .table-customer tr td:nth-child(2),
    .table-customer tr th:nth-child(3), .table-customer tr td:nth-child(3) {
        display: none;
    }

    .table-customer-readonly tr th:nth-child(3), .table-customer-readonly tr td:nth-child(3)
    {
        display: none;
    }
}

@media only screen and (max-width: 992px) {

    .container-fluid.body-content, .navbar > .container-fluid {
        margin: 0 5% 0 5%;
    }

    .hero-image {
        margin-left: -5vw !important;
    }



}
