@model MvcBookStore.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-warning book-card" role="alert">
    <h2 class="title">@Model.Name</h2>
    <p><strong>Membership Type:</strong> @Model.MembershipType.Name</p>
    @if (Model.BirthDate.HasValue)
    {
        <hr>
        <p><strong>Birthday:</strong> @Model.BirthDate.Value.ToShortDateString()</p>
    }

</div>